* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito";
}

:root {
    --blue--: #2b82cf;
    --red--: #b20e34;
    --yellow--: #ffd166;
}
header {
    display: flex;
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 0px;
    z-index: 999999999;
}
.content_header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top_header {
    margin-left: 30px;
    height: 50px;
    display: flex;
    align-content: flex-end;
}
.tel {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: grey;
    font-size: 12px;
}
.tel img {
    width: 15px;
    margin-right: 5px;
}
.tel a {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 800;
}
.tel a:hover {
    color: rgb(71, 8, 113);
    text-decoration: none;
}
.location {
    color: grey;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.location a {
    color: grey;
    text-decoration: none;
    font-weight: 800;
}
.location a:hover {
    color: rgb(71, 8, 113);
    text-decoration: none;
}

.weather {
    margin-left: 40px;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 15px;
    width: 25%;
    justify-content: flex-end;
}
.down_header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 871px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 20px;
    text-decoration: none;
}
.main-menu > li > a:hover {
    text-decoration: none;
    color: rgb(71, 8, 113);
}
.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: rgb(71, 8, 113);
    content: "";
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all 0.3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    margin-right: 12px;
}

.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: rgb(71, 8, 113);
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    transition: all 0.3s;
    text-decoration: none;
}
.main-menu ul li a:hover {
    color: rgb(71, 8, 113);
    background: #fff;
    text-decoration: none;
}
.title {
    padding: auto;
    background-image: url("/img/about/bg_about.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    border-bottom: 5px solid rgb(71, 8, 113);
    margin-bottom: 0px;
}
p {
    font-size: 20px;
    color: rgb(206, 206, 206);
    width: 30%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}
h3 {
    color: #262626;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 1px;
    margin-top: 0px;
}
.card3 p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
}
.card3 p.small {
    font-size: 14px;
    width: 100%;
    text-align: left;
}
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    bottom: 0px;
    right: 0;
    background-color: rgb(71, 8, 113);
    /* border-radius: 0 4px 0 32px; */
    border-radius: 32px 0 4px 0;
    z-index: 2;
}
.go-arrow {
    margin-top: 3px;
    margin-right: -7px;
    color: white;
    font-family: courier, sans;
}
.card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 350px;
    max-height: 498px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 20px 12px 20px 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}
.card3 .go-corner {
    opacity: 0.7;
}
.card3:hover {
    border: 1px solid #00838d;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
}
.card3:hover p {
    color: #00838d;
}
.card3:hover .go-corner {
    transition: opactiy 0.3s linear;
    opacity: 1;
}
.solyar {
    position: relative;
    display: flex;
    z-index: 1;
    right: 25px;
    bottom: 32px;
    width: 500px;
    height: 200px;
    margin-bottom: 0px;
}

.window_bron {
    height: 300px;
    width: 1200px;
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 50px;
    margin: 0px auto 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    margin-top: 360px;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: space-between;
}
.name_block {
    display: flex;
    justify-content: space-between;
}
.title_services {
    color: rgba(66, 67, 72, 0.8);
    font-weight: 500;
}
.name_block label {
    color: rgba(66, 67, 72, 0.8);
    font-weight: 500;
}
.select {
    position: relative;
    display: block;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
}

.select__head {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    font-size: 20px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A")
        no-repeat center / cover;
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
    content: "";
    display: block;
    transition: 0.2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #f8f9fa;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
    appearance: none;
    -webkit-appearance: none;
    color: #000000;
    font-weight: 900;
    font-family: "Nunito", arial, sans-serif;
    font-size: 20px;
    background: #ecf0f1;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"],
focus {
    color: #000000;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    top: -11px;
    position: relative;
}
input {
    outline: none;
    border: none;
}

input[type="time"] {
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
    appearance: none;
    -webkit-appearance: none;
    color: #000000;
    font-weight: 900;
    font-family: "Nunito", arial, sans-serif;
    font-size: 20px;
    background: #ecf0f1;
    display: inline-block !important;
    visibility: visible !important;
    top: -11px;
    position: relative;
}
.name_block {
    display: flex;
}
.inputdiv {
    display: flex;
    flex-direction: column;
    width: 180px;
}
.inputdiv input {
    padding-top: 20px;
    background: none;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
}
.inputdiv input::placeholder {
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.btn {
    padding: 0 10px;
    text-decoration: none;
    width: 138px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 50px auto;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgb(71, 8, 113, 0.4);
    transition: 0.3s;
    display: flex;
    justify-content: center;
}
.btn:hover {
    background: rgb(71, 8, 113);
    box-shadow: 0 15px 20px rgb(71, 8, 113, 0.4);
    color: white;
    transform: translateY(-7px);
}
