*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito";
    background-image: url("/static/img/main/bgSecondBlock.png") ;
    background-repeat: repeat;
    background-size: auto;
}
.log{
    display: flex;
    background-color: transparent;
    width: 400px;
    height: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
}