/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
{
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
body {
  width: auto;
  font-family: 'Nunito';
  background-image: url(/img/about/bg_about.png);
  background-repeat:no-repeat;
  background-size:auto;
  background-color: rgb(197, 197, 197);
}

a{
  text-decoration: none;
}
.content {
    position: absolute;
    top: 50%;
    left: 2rem;
    width: 70%;
    transform: translateY(-50%);
 }
  .content h1, .content h4 {
    color: #ffffff;
 }
  .content h1 {
    font-size: 6vmin;
 }
  .content h4 {
    font-size: 3vmin;
 }
  .content a {
    color: #ffffff;
 }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3.75rem;
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: width;
    z-index: 99;
 }
 
  .nav.is-active {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(3px);

 }
  .nav__trigger {
    display: block;
    position: absolute;
    top: 50px;
    margin-right: 50px;
    right: 1rem;
    padding: 8px 0;
    transition: 0.2s ease-in-out;
    z-index: 10;
 }
  .nav__trigger .bars {
    position: relative;
 }
  .nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
    width: 28px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: 0.2s ease-in-out;
 }
  .nav__trigger .bars:before, .nav__trigger .bars:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
 }
  .nav__trigger .bars:before {
    transform: translateY(-8px);
 }
  .nav__trigger .bars:after {
    transform: translateY(8px);
 }
  .nav__trigger.is-active {
    transform: rotate(-45deg);
 }
  .nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
    transform: translateX(0) rotate(-90deg);
 }
  .nav__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 3.75rem 1rem 2.75rem;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: 0s linear 0.25s;
 }
  .nav__content.is-active {
    visibility: visible;
    opacity: 1;
    transition: 0s linear;
 }
  .nav__content.is-active .nav__item a {
    opacity: 1;
    transform: translateY(0);
    transition-property: transform, opacity, color;
    transition-duration: 0.55s, 0.55s, 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
    transition-delay: 0s, 0s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
    transition-delay: 0.05s, 0.05s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
    transition-delay: 0.1s, 0.1s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
    transition-delay: 0.15s, 0.15s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
    transition-delay: 0.2s, 0.2s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
    transition-delay: 0.25s, 0.25s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
    transition-delay: 0.3s, 0.3s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
    transition-delay: 0.35s, 0.35s, 0s;
 }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
    transition-delay: 0.4s, 0.4s, 0s;
 }
  .nav__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
  .nav__item {
    overflow: hidden;
 }
  .nav__item a {
    display: inline-block;
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 70px;
    font-weight: 300;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform, opacity;
 }
  .nav__item a:hover {
    color: blue;
 }
  .nav__divider {
    margin: 1.75rem 0 1.5rem;
    width: 100%;
    height: 2px;
    background-color: #9ac6ac;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
 }
header {
    margin: 10px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.content_header{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
    margin-right: 100px;
}
.location{
    display: flex;
    width: 290px;
    
}
.icon_location{
    margin-right: 15px;
}
.location_content a {
    color: #fff;
    text-decoration: none;
}
.tel{
    display: flex;
    margin-left:20px;
    width: 262px;
}
.tel_content{
    margin-left: 15px;
}
.title_about {
    font-size: 144px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-top: 72px;
}
.fisrt_block{
    display: flex;
    align-items:center;
    margin-top: 160px;
    margin: 160px 50px 0 50px;

}
.img_first{
    width: 734px;
    height: 542px;
}
.text_first{
    width: 515px;
    height: 330px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    margin-left: 190px;
}
.second_block{
    background-image: url(/img/about/about_second.png);
    background-repeat:no-repeat;
    background-size:auto;
    height: 100%;
    margin-top: 90px;
    padding: 20px 50px 20px 50px;
}
.title_second{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #FFFFFF;
}
.box_statstic{
    display: flex;

}
.box{
    width: 100%;
    margin-right: 260px;
}
.box:last-child{
    margin-right: 0px;
}
.number_box {
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    color: #0037C6;
}
.decription_box{
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}
.third_block{
    display: flex;
    align-items:center;
    margin: 90px 50px 0 50px;

}
.img_third{
    width: 734px;
    height: 542px;
}
.text_third{
    width: 539px;
    height: 341px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    margin-right: 190px;
    text-align: right;
    color: #000000;
}
.img_third{
    width: 710px;
    height: 542px;
}
.last_block {
    margin-top: 90px;
    padding: 130px 50px 130px;
    background-image: url(/img/about/about_fifth.png);
    background-repeat:no-repeat;
    background-size:auto;
    height: 100%;
}
.text_last{;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}
.last_block a{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding: 24px 64px;
}
.btn {
    width: 240px;
    height: 84px;
    background: #0037C6;
    border-radius: 6px;
    margin: 40px 0 0 0;
    padding: 23px 61px;
    margin: 0 auto;
}
