{% extends "base.html" %}

{% block title %}Крижанівка{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
    <script defer src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="title">
        <h1>Контакти</h1>
        <p>На цій сторінці ви можете дізнатися де ми знаходимось</p>
    </div>
    <div class="welcome">
        <div class="title_welcome">
            <div class="first_part">Залишайтесь з</div>
            <div class="second_part">нами на зв'язку</div>
        </div>
    </div>

    <div class="content">
        <div class="form">
            <form>
                <label for="fname"><i class="fa fa-user"></i>
                    Введіть ім'я</label>
                    <input type="text" id="fname" name="firsname" placeholder="Iм'я">
                <label for="sname"><i class="fa fa-seconname"></i>Введіть прізвище</label>
                    <input type="text" id="sname" name="sname" placeholder="Прізвище">
                <label for="num"><i class="fa fa-number"></i>Ваш номер телефону</label>
                    <input type="text" id="num" name="num" placeholder="Номер телефону">
                    <button type="submit" class="btn">Відправити</button>
            </form>
            </div>
        <div class="content_text">
            <p class="adress">Україна, Одеська обл, с. Крижанiвка, вул. Приморська 33</p>
            <a href="tel:+380981488288" class="contentTel">+380981488288</a>
            <a href="mailto:qwe@gmail.com" class="contentMail">qwe@gmail.com</a>
        </div>
    </div>
    <div class="map">
        <iframe src="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.4276428092357!2d30.79490661558425!3d46.5590079791291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63ac4342bf845%3A0xdf8667b0fdccabd4!2z0YPQuy4g0JrQsNC70LjQvdC40L3QsCwgNzgsINCa0YDRi9C20LDQvdC-0LLQutCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NzU2Mg!5e0!3m2!1sru!2sua!4v1621969956831!5m2!1sru!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>></iframe>
    </div>
       
    

{% endblock %}

