{% extends "base.html" %}

{% block title %}Послуги{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
    <script defer src="{{ url_for('static', filename='js/services.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="title">
        <h1>Послуги</h1>
        <p>На цій сторінці ви можете дізнатися про наші послуги та забронювати</p>
    </div>
    
<div class="container">
  <a class="card3" href="#bron">
    <img class="solyar" src="{{ url_for('static', filename='/img/sevices/mas.jpg') }}" alt="">
    <h3>Массаж</h3>
    <p class="small">Справжні цінності масажу - це не тільки задоволення, здоров'я і відпочинок, це внутрішня гармонія і наповненість, це усвідомлення своєї зовнішньої і внутрішньої краси! Массаж від спеціалістів з острову Балі в нашому оздоровчому комплексі допомагає розкрити всю силу і чарівництво цієї процедури. Ми врахували всі необхідні складові</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#bron">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card3" href="#bron">
    <img class="solyar" src="{{ url_for('static', filename='/img/sevices/spa.jpg') }}" alt="">
    <h3>Салон краси</h3>
    <p class="small">Пориньте в світ краси, розкоші та комфорту. Салон краси в нашому оздоровчому комплексі «Крижанівка» — це найвдаліше місце для тих, хто звик до сервісу VIP-рівня. Всі види перукарських послуг, манікюр, педикюр. Наші майстри створять для Вас стильний образ, який гармонійно підкреслить Вашу індивідуальність. Під час процедур Ви можете насолодитися чашкою кави або чаю.
       </p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#bron">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card3" href="#bron">
    <img class="solyar" src="{{ url_for('static', filename='/img/sevices/sau.jpg') }}" alt="">
    <h3>Сауна</h3>
    <p class="small">Головною послугою наших фінських саун є можливість оздоровитися, очистити організм, скинути вагу, зняти втому і поліпшити настрій. У будь-яку вільну хвилину, коли Ви відчуваєте потребу добре відпочити, скинути втому і рутинні турботи, наші фінськи сауни відкриють перед Вами двері в чудовий світ справжньої традиційної фінської сауни в нашому оздоровчому комплексі, де можна повністю розслабитися.</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#bron">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card3" href="#bron">
    <img class="solyar" src="{{ url_for('static', filename='/img/sevices/solyar.jpg') }}" alt="">
    <h3>Солярії</h3>
    <p class="small">Солярій в оздоровчому комплексі «Крижанівка» запрошують вас насолодитися м'яким і дбайливим доглядом сонячної ванни в нашому новому комфортному солярії.
        Наш солярій - це вертикальний професійний турбо-солярій класу «VIP». З його допомогою ви зможете придбати не тільки гарну засмагу, а й поліпшити імунітет та підняти собі настрій.
        Відрізнити штучний загар від натурального-практично неможливо</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#bron">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card3" href="#bron">
    <img class="solyar" src="{{ url_for('static', filename='/img/sevices/fit.jpg') }}" alt="">
    <h3>Фітнес</h3>
    <p class="small">В нашому оздоровчому комплексі є ще одне дуже важливе місце - це ціла мережа клубів для занять спортом, фітнесом та аеробікою. При використанні наших послуг ви зможете підвищити продуктивність і якість свого життя, відповідати ритму життя, поліпшити показники свого організму. Наш фітнес клуб розробив нову програму корпоративного спорту, що є важливим чинником для продуктивності наших співробітників</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#bron">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
</div>
<div class="bron" id="bron">
    <div class="second_block">
        <div class="window_bron">
            <div class="top">
                <div class="servives">
                    <div class="title_services">Послуга</div>
                    
                    <div class="select">
                        <input class="select__input" id="potencial" type="hidden" name="">
                        <div class="select__head">Оберіть послугу</div>
                            <ul class="select__list" style="display: none;">
                                <li class="select__item">Массаж</li>
                                <li class="select__item">Салон Краси</li>
                                <li class="select__item">Сауна</li>
                                <li class="select__item">Солярій</li>
                                <li class="select__item">Фітнес</li>
                            </ul>
                        </div>
                    </div>
                    <div class="date_piq">
                        <div   div class="title_services">Дата</div>
                        <input type="date" id="datepicker" required="required">
                    </div>
                    <div class="time_piq">
                    <div class="title_services">Час</div>
                        <input type="time" id="inputTime" name="appt" required>
                    </div> 
            </div>
            <div class="name_block">
                <div class="inputdiv">
                  <form>
                    <label for="fname"><i class="fa fa-user"></i>
                     Введіть ім'я</label>
                      <input type="text" id="fname" name="firsname" placeholder="Iм'я" pattern="^[А-Яа-яЁё\s]+$">
                    <label for="sname"><i class="fa fa-seconname"></i>Введіть прізвище</label>
                      <input type="text" id="sname" name="sname" placeholder="Прізвище" pattern="^[А-Яа-яЁё\s]+$">
                    <label for="num"><i class="fa fa-number"></i>Ваш номер телефону</label>
                      <input type="text" id="num" name="num" placeholder="+38(000)000-00-00">
                      <!-- <button onclick="sendData()" class="btn">Забронювати</button> -->
                      <input onclick="sendData()" type="submit" class="btn" value="Забронювати">
                  </form>
                </div>
              </div>
        </div>
        
    </div>
    </div>
{% endblock %}
