* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    width: auto;
    margin: 0;
    background-image: url(/img/about/bg_about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #d3f5ff;
}
body a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #00c6fb;
}
header {
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
header a {
    font-size: 15px;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.text_contact {
    margin-left: 20px;
    width: 50%;
}
.number {
    display: flex;
    align-items: center;
    justify-content: spa;
    margin-left: 10px;
}
.number_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.number_text a {
    margin-bottom: 3px;
}
ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
ul li a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    transition: 0.5s;
    border-radius: 8px;
}
ul li a:hover {
    color: #fff;
}
ul li a:hover::before {
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
h1 {
    margin-top: 250px;
    text-align: center;
    color: #d3f5ff;
    font-size: 100px;
}
.first_block {
    margin-top: 180px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
}
.first_img {
    width: 40%;
}
.first_disk {
    margin-left: 200px;
    font-size: 30px;
}
.second_block {
    margin-top: 90px;
    background-image: url(/img/about/about_second.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.second_title {
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 40px;
}
.box_second {
    margin: 80px 30px 0px 30px;
    padding-bottom: 60px;
    display: flex;
}
.block {
    margin-right: auto;
    width: 340px;
    text-align: center;
}
.block:last-child {
    margin-right: 0;
}
.seven {
    color: #005bea;
    font-size: 100px;
    font-weight: 700;
}
.seven_desc {
    margin-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.third_block {
    margin: 90px 30px;
    display: flex;
}
.third_disc {
    padding-top: 150px;
    margin-right: 200px;
    font-size: 30px;
}
.third_img {
    width: 40%;
}
.fourth_block {
    background-image: url(/img/about/about_fifth.png);
    background-size: auto;
    padding: 30px 30px;
    align-items: center;
    text-align: center;
}
.fourth_desc {
    color: white;
    font-size: 30px;
    font-weight: 300;
    width: 800px;
    margin: 0px auto;
}
.services {
    margin-top: 20px;
    height: 50px;
    width: 240px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid#005bea;
    background: none;
    backdrop-filter: blur(3px);
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.services:focus {
    outline: none;
}
.services:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
}
