*{
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    width: auto;
    margin: 0;
    background-image: url(/img/contact/bg_contact.png);
    background-repeat: no-repeat;
    background-size:contain;
}
body a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #00c6fb;
}
header {
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
header a {
    font-size: 15px;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.text_contact {
    margin-left: 20px;
    width: 50%;
}
.number {
    display: flex;
    align-items: center;
    justify-content: spa;
    margin-left: 10px;
}
.number_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.number_text a {
    margin-bottom: 3px;
}
ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
ul li a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    transition: 0.5s;
    border-radius: 8px;
}
ul li a:hover {
    color: #fff;
}
ul li a:hover::before {
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
h1 {
    margin-top: 250px;
    text-align: center;
    color: #d3f5ff;
    font-size: 100px;
}

.map{
    margin: 15% 30px 30px 30px;
    /* display: flex; */
}
iframe{
    border-radius: 10px;
    width: 100%
}
.map_content{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.contact{
    align-items:center
}
.contact_text{
    margin-left: 30px;
    width: 180px;
}
.tel{
    display: flex;
    align-items:center

}
.tel img{
    width: 60px;
    height: 60px;
}
.tel_a{
    margin-left: 30px;
    width: 180px;
}
.mail{
    display: flex;
    align-items: center;
}
.mail img {
    width: 60px;
    height: 60px;
}
.mail a{
    margin-left: 30px;
} 
.map_content a{
    color: black;
}
.map_content a:hover{
 color: #00c6fb;
}
.contact{
    display: flex;
}
.contact img{
    width: 50px;
    height: 60px;
}