* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  body {
    width: auto;
    margin: 0;
    background-image: url(/img/sale/sale_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
  }
  body a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #00c6fb;
  }
  
  header {
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
  }
  header a {
    font-size: 15px;
  }
  .header_content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .text_contact {
    margin-left: 20px;
    width: 50%;
  }
  .number {
    display: flex;
    align-items: center;
    justify-content: spa;
    margin-left: 10px;
  }
  .number_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .number_text a {
    margin-bottom: 3px;
  }
  ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
  }
  ul li a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    transition: 0.5s;
    border-radius: 8px;
  }
  ul li a:hover {
    color: #fff;
  }
  ul li a:hover::before {
    animation: animate 0.5s linear forwards;
  }
  
  @keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }
h1 {
    margin-top: 250px;
    text-align: center;
    color: #d3f5ff;
    font-size: 100px;
}
.program{
    display: flex;
    margin: 15% 30px 90px 30px;
}
.content_program{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px
}
.title_program{
    font-size: 50px;
    font-weight: 700;
}
.desc_program{
    margin-top: 20px;
    font-size: 20px;
    color:#797979
}
.img_program{
    width: 30%;
    border-radius: 10px;
}
.hb{
    display: flex;
    margin: 0 30px 30px 30px;
}
.content_hb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px
}
.title_hb{
    font-size: 50px;
    font-weight: 700;
}
.desc_hb{
    margin-top: 20px;
    font-size: 20px;
    color:#797979
}
.img_hb{
    width: 30%;
    border-radius: 10px;
}
