* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    outline: none;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    width: auto;
    margin: 0;
    background-image: url(/img/sevices/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #00c6fb;
}
header {
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
header a {
    font-size: 15px;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.text_contact {
    margin-left: 20px;
    width: 50%;
}
.number {
    display: flex;
    align-items: center;
    justify-content: spa;
    margin-left: 10px;
}
.number_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.number_text a {
    margin-bottom: 3px;
}
ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
ul li a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    transition: 0.5s;
    border-radius: 8px;
}
ul li a:hover {
    color: #fff;
}
ul li a:hover::before {
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
h1 {
    margin-top: 250px;
    text-align: center;
    color: #d3f5ff;
    font-size: 100px;
}
.box {
    padding: 180px 30px 0px 30px;
}
.box_left {
    display: flex;
    border: 1px solid #00c6fb;
    border-radius: 15px;
    height: 400px;
}
.box_left img {
    width: 30%;
}
.desc_right {
    height: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_right {
    color: #005bea;
    font-size: 50px;
}
.text_right {
    margin-top: 10px;
    width: 900px;
    color: white;
    font-size: 16px;
}
.btn_right {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #ffffff;
    background: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}
.btn_right:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    border: none;
    color: rgb(0, 0, 0);
}
.btn_right:focus {
    outline: none;
}
.box_right {
    margin: 70px 0px;
    display: flex;
    border: 1px solid #00c6fb;
    border-radius: 12px;
    height: 400px;
}
.box_right img {
    width: 30%;
}
.desc_left {
    height: 400px;
    margin-left: 36px;
    margin-right: 30px;
    margin: 0 30px 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_left {
    color: #005bea;
    font-size: 50px;
}
.text_left {
    margin-top: 10px;
    width: 900px;
    color: white;
    font-size: 16px;
}
.btn_left {
    margin-top: 10px;
    margin-right: 700px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}
.btn_left:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    border: none;
    color: rgb(0, 0, 0);
}
.btn_left:focus {
    outline: none;
}

.bron {
    margin: 90px auto;
    display: flex;
    width: 1263px;
}
.main_info {
    display: flex;
    flex-direction: column;
}
.main_info input[type="text"],
.main_info input[type="number"] {
    width: 300px;
    margin-bottom: 50px;
    padding: 12px;
    border: 1px solid #00c6fb;
    border-radius: 3px;
}

.main_info label {
    margin-left: 0px;
    margin-bottom: 5px;
    display: block;
    font-weight: 700;
    color: #ffffff;
}
.second_info {
    display: flex;
    flex-direction: column;
    margin: 23px 0px 0px 23px;
}
.second_info section {
    display: flex;
}
.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
select {
    z-index: 3;
    float: left;
}
/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select-trigger {
    position: relative;
    display: block;
    width: 300px;
    height: 70px;
    padding: 10px 0 0 15px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    line-height: 50px;
    background: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid #fff;
}
.custom-select-trigger:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}
.custom-select-trigger:before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    border: none;
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0%;
    right: 0;
    width: 100%;
    height: 150px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(3px);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    border: 0;
    overflow: auto;
    white-space: nowrap;
}
.custom-options::-webkit-scrollbar {
    width: 10px;
}

.custom-options::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.custom-options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}
*.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(-8px);

    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    font: 15px;
    font-weight: 600;
    color: #ffffff;
    line-height: 47px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.custom-option:hover,
.custom-option.selection {
    color: #fff;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}

.date {
    width: 300px;
    height: 70px;
    background: none;
    border: none;
    border-radius: 3px;
    text-align: center;
    appearance: none;
    border: 1px solid #fff;
    margin: 0px 20px;
}
.date:hover {
    background-color: #fff;
}
.date:hover::placeholder {
    color: rgb(0, 0, 0);
}
.date:focus {
    outline: none;
    border-color: #5d9cf5;
}
.date::placeholder {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.date:enabled {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.date:enabled:hover {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.ui-datepicker {
    width: 280px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(3px);
    border-radius: 13px;
    opacity: 0;
}

@media screen and (max-width: 580px) {
    .ui-datepicker {
        top: auto !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100%;
        border-radius: 0px;
    }
}
.ui-datepicker.active {
    opacity: 1;
}

.ui-datepicker-header {
    height: 40px;
    padding: 3px;
    margin-bottom: 10px;
}
.ui-datepicker-header .ui-datepicker-title {
    text-align: center;
    line-height: 34px;
}

.ui-datepicker-month,
.ui-datepicker-year {
    -webkit-appearance: none;
    border: 0;
    background: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 5px 1px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-indent: 9999px;
    overflow: hidden;
    border-radius: 3px;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    background: #ffffff;
}

.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin-left: 15px;
}

.ui-datepicker-next {
    float: right;
}
.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin-left: 13px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    margin-top: -10px;
    width: 6px;
    height: 6px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    pointer-events: none;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th {
    width: 40px;
    padding-bottom: 6px;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 100%;
    padding: 0;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.ui-datepicker-calendar tbody tr td {
    padding-right: 3px;
    padding-bottom: 3px;
}
.ui-datepicker-calendar tbody tr td:first-child {
    padding-left: 3px;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: white;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 12px;
}
.ui-state-default:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    text-decoration: none;
    color: white;
}

.ui-state-highlight {
    color: #fed615;
}

.ui-state-active:not(.ui-state-highlight) {
    color: white;
    background: #5d9cf5;
}

.ui-datepicker-unselectable .ui-state-default {
    color: rgba(255, 255, 255);
    pointer-events: none;
}
.time {
    background: none;
    border: 1px solid #fff;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    width: 240px;
    padding: 0px 15px;
}
.time:focus {
    outline: none;
}
input[type="time"] {
    border: 1px solid #fff;
    width: 300px;
    height: 70px;
    border-radius: 3px;
}

input[type="time"]:hover {
    background-color: #fff;
}
input[type="time"]:hover:enabled {
    color: rgb(0, 0, 0);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(130deg) brightness(100%) contrast(100%);
}
.btn {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    color: rgb(0, 0, 0);
    padding: 12px;
    margin: 50px 0 0 640px;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    align-items: center;
    text-align: center;
    font-weight: 700;
}
