* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    width: auto;
    margin: 0;
    background-image: url(/img/sevices/bg_services.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
body a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #00c6fb;
}
header {
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
header a {
    font-size: 15px;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.text_contact {
    margin-left: 20px;
    width: 50%;
}
.number {
    display: flex;
    align-items: center;
    justify-content: spa;
    margin-left: 10px;
}
.number_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.number_text a {
    margin-bottom: 3px;
}
ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
ul li a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    transition: 0.5s;
    border-radius: 8px;
}
ul li a:hover {
    color: #fff;
}
ul li a:hover::before {
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
h1 {
    margin-top: 250px;
    text-align: center;
    color: #d3f5ff;
    font-size: 100px;
}
.box {
    padding: 180px 30px 0px 30px;
    background-image: url(/img/sevices/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box_left {
    display: flex;
    border: 1px solid #00c6fb;
    border-radius: 15px;
    height: 400px;
}
.box_left img {
    width: 30%;
}
.desc_right {
    height: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_right {
    color: #005bea;
    font-size: 50px;
}
.text_right {
    margin-top: 10px;
    width: 900px;
    color: white;
    font-size: 16px;
}
.btn_right {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #ffffff;
    background: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}
.btn_right:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    border: none;
}
.btn_right:focus {
    outline: none;
}
.box_right {
    margin: 70px 0px;
    display: flex;
    border: 1px solid #00c6fb;
    border-radius: 12px;
    height: 400px;
}
.box_right img {
    width: 30%;
}
.desc_left {
    height: 400px;
    margin-left: 36px;
    margin-right: 30px;
    margin: 0 30px 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_left {
    color: #005bea;
    font-size: 50px;
}
.text_left {
    margin-top: 10px;
    width: 900px;
    color: white;
    font-size: 16px;
}
.btn_left {
    margin-top: 10px;
    margin-right: 700px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}
.btn_left:hover {
    background: linear-gradient(180deg, #00c6fb, #005bea);
    border: none;
}
.btn_left:focus {
    outline: none;
}
